div.header{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #f2f2f2;
    background-color: white;
    padding: 0 5%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px gray; 
}

table#productos{
    width: 100%;
    text-align: center;
}

div#logoTienda{
    width: 12%;
}

img.logo{
    width: 100%;
}

/*lado del formulario*/
.section-1 {
    display: flex;
    justify-content: space-between;
}

.formulario-personal {
    width: 40%; 
    padding: 20px;
    margin: 40px 0 20px 140px;
    background-color: #ffffff; 
    border-radius: 7px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.formulario-personal form {
    display: flex;
    flex-direction: column;
}

.formulario-personal input,
.formulario-personal select {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}

.inline-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inline-inputs2 {
    width: 101%;
    display: flex;
    justify-content: space-between;
}

.inline-inputs2 #codigo_postal, #ciudad, #estado{
    width: 95%;
}

.inline-inputs #nombre, #apellido{
    width: 49%;
}

input[type="button"]{
    background-color: #ECCD9F;
    color: rgb(103, 95, 95);
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: #E5B97A;
}

input[type="submit"]{
    background-color: #ECCD9F;
    color: rgb(103, 95, 95);
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #E5B97A;
}

.carrito-productos {
    width: 35%; 
    padding: 20px;
    margin: 40px 140px 20px 0;
    background-color: #edebeb; 
    border: 1px solid rgb(224, 222, 222);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

div.descuento{
    display: flex;
    flex-direction: row;
}

input#descuento{
    font-size: 18px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.39);
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

select{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

input[type="email"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

h4{
    font-size: 36px;
    font-weight: 500;
    opacity: 0.8;
}
